---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/*=============================================================================
  Your custom styles go here
=============================================================================*/

// A softer, more modern background color for the body.
// This is a gentle alternative to pure white.
body {
  background-color: #f8f9fa; // A light gray
  color: #212529; // A darker text color for better contrast
}

/*=============================================================================
  Tag styles
=============================================================================*/

.post-tags {
  margin-top: -15px;
  margin-bottom: 20px;
}

.post-tag {
  display: inline-block;
  background-color: #e9ecef;
  color: #495057;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-right: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.post-tag:hover {
  background-color: #ced4da; /* Darker gray on hover */
  color: #212529;
}

/*=============================================================================
  Related Posts styles
=============================================================================*/
.related-posts {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #e9ecef;
}